@mixin title-style ($color, $font-weight, $font-family){
    color: $color;
    font-weight: $font-weight;
    font-family: $font-family;
}

@mixin size ($width, $height){
    width: $width;
    height: $height;
}