* {
    margin: 0;
    padding: 0;
}

header {
    padding: 50px;
    background: rgb(123,191,232);
    background: radial-gradient(circle, rgba(123,191,232,1) 0%, rgba(106,174,231,1) 52%, rgba(86,161,221,1) 74%, rgba(71,147,208,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site {
    @include title-style($color-white, 800, "Varela Round");
}

.botao {
    padding-bottom: 2px;
    border: none;
    border-radius: 50%;
    @include size(70px, 70px);
    background-color: $color-dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#menu {
    width: 30px;
    margin-top: 10px;
    padding: 20px;
}

nav {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid $color-blue;
}

nav ul {
    justify-content: space-between;
    align-items: center;
    text-align: right;
    margin-right: 200px;
}

nav li{
    display: inline;
    padding-left: 50px;
}

a {
    text-decoration: none;
    color: $color-darkblue-ocean;
}

nav li a:hover {
    background-color: $color-white;
    color: $color-black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.destaque {
    color: $color-dark-blue;
    font-family: "Varela Round"
}

.recepcao {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.bio {
    margin-left: 50px;
    font-size: 20px;
}

footer {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
}